@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Russo+One&family=Ubuntu+Condensed&display=swap');

*{
   font-family: Arial;
}

h1{
   font-size: 50px;
   color: f80;
   font-family: "Cuprum";
   font-style: italic;
}

img{
    width: 300px
}

.product{
border: 1px black solid;
display: flex;
height: 250px;
margin-top: 10px;
border-radius: 20px;
padding: 10
}

h2{
   width: 150px
}

p{
  width: 700px
}

button{
       margin-left: auto;
}