<style>
    @import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Russo+One&family=Ubuntu+Condensed&display=swap');

    *{
       font-family: Arial;
    }

    h1{
       font-size: 50px;
       color: f80;
       font-family: "Cuprum";
       font-style: italic;
    }

    img{
        width: 300px
    }

    .product{
    border: 1px black solid;
    display: flex;
    height: 250px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10
    }

    h2{
       width: 150px
    }

    p{
      width: 700px
    }

    button{
           margin-left: auto;
    }
</style>

<h1>Мемозин</h1>
    <a href='/'>Главная</a>
    <a href='/products'>Товары</a>
    <a href='/aboutas'>О нас</a>

    <div class="product">
        <img src='https://public-files.gumroad.com/lo3ixj1w2oosw7p090hkm9cab18a'>
        <div>
            <h2>Мьюинг</h2>
            <p>Бай-Бай</p>
        </div>
        <button>Купить</button>
    </div>
    <div class="product">
        <img src='https://avatars.yandex.net/get-music-content/8123381/4fa1a2b7.a.24998666-1/m1000x1000?webp=false'>
        <div>
            <h2>Сигма</h2>
            <p>Сигма-крипер вместе с сигма-свинкой шли по полю... </p>
        </div>
        <button>Купить</button>
    </div>
