{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
<h1>Мемозин</h1>

</div>

<div class="paymentCard">
    <h2>Товар: Мьюинг</h2>
    <img class="productImage" src="https://nztcdn.com/files/80c03933-3891-48b6-b668-5040351ea967.webp">
    <h2>К оплате: 999 рублей</h2>
    <div class="vspace"></div>
    <h3>Реквезиты для перевода:</h3>
    <h2>+78005553535 <button onclick="copyPhone()">Скопировать</button></h2>
    <h2>Иванов И. И.</h2>
    <div class="vspace"></div>
    <form class="paymentForm" method="post">
        <label>Адрес доставки:</label>
        <input name="address" required>
        <label>Ваше ФИО:</label>
        <input name="name" required>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <button class="paymentButton">Оплатил</button>
    </form>
</div>

<script>
function copyPhone() {
    navigator.clipboard.writeText('+78005553535');
}
</script>