{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
<h1>Мемозин</h1>
<a class="navlink" href='/'>Главная</a>
<a class="navlink" href='/products'>Товары</a>
<a class="navlink" href='/aboutas'>О нас</a>
</div>

<div class="productDetails">
    <img class="productPreview" src="{{ product.image_url }}"/>
    <div class="productTitle">
        <h1>{{ product.name }}</h1>
        <div class="productPrice">
            <h2>{{ product.price }} ₽</h2>
            <button style="margin-left: 970px">Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Характеристики:</h2>
    <p>Год: {{ product.year }}</p>
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<div class="productDescription">
    <h2>Отзывы:</h2>

    {% for review in reviews %}
    <div class="review">
        <h3>{{ review.author }}</h3>
        <h3>Оценка:
            {% if review.rating == 0 %}
            <span style="color: red">ДНО</span>
            {% else %}
            <span style="color: 1ced31">ТОП</span>
            {% endif %}
        </h3>
        <h3>Срок использования: {{ review.usage_duration }} месяцев</h3>
        <p>{{ review.text }}</p>
    </div>
    {% endfor %}

    <form class="createReview" methot="post">
        {% csrf_token %}
        <label for="author">Автор:</label>
        <input name="author">
        <label for="rating">Оценка:</label>
        <input name="rating">
        <label for="duration">Срок использования(в месяцах):</label>
        <input name="duration">
        <label for="review">Отзыв:</label>
        <textarea name="review"></textarea>
        <button>Опубликовать</button>
    </form>
</div>